*{
  margin: 0;
  box-sizing: border-box;
  font-family: Montserrat;
  font-weight: 600;
}


*::-webkit-scrollbar{
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-track{
  background-color: transparent;
}

*::-webkit-scrollbar-thumb{
  background-color: #000;
}



body::-webkit-scrollbar{
  width: 6px;
}

body::-webkit-scrollbar-track{
  background-color: #000;
}

body::-webkit-scrollbar-thumb{
  background-color: #FAD41B;
  border-radius: 20px;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');






/* CSS PÁG NAV */

.ContainerNav{
  min-height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;

  /* background-image: linear-gradient(#000, #e8e8e8); */
  background-color: #000;
}

.ContainerNav div{
  display: flex;
  flex-direction: column;

  min-height: 50vh;
  width: 45%;
  padding: 2em;
  border-radius: 10px;
  background-color: #FAD41B;

} 
.ContainerNav nav{
  display: flex;
  flex-direction: column;
  text-align: center;

} 

.ContainerNav a{
  margin-bottom: 5px;
} 

.ContainerNav h2{
  margin-bottom: 1.2em;
  text-align: center;
} 




