.titulo {
    text-align: center;
    padding: 10px;
  }
  
  .pergunta1 {
    padding: 10px;
  }
  
  .pergunta2 {
    padding: 10px;
  }
  
  .pergunta3 {
    padding: 10px;
  }
  
  .pergunta4 {
    padding: 10px;
  }